
  <div class="row">
    <div class="col-sm-12">
      <% if(!atuendo.etiqueta_formalidad.blank?) %>
        <span class="etiquetas-atuendos">
          <%= atuendo.etiqueta_formalidad%>
        </span>
      <%end%>
      <% if(!atuendo.etiqueta_estacion.blank?) %>
        <span class="etiquetas-atuendos">
          <%= atuendo.etiqueta_estacion%>
        </span>
      <%end%>
      <% if(!atuendo.etiqueta_tiempo.blank?) %>
        <span class="etiquetas-atuendos">
          <%= atuendo.etiqueta_tiempo%>
        </span>
      <%end%>
    </div>
    <div class="col-md-3">
      <% if atuendo.cabeza.blank?  %>
        <div class="col-sm-12 container-empty">
          <i class="fa fa-exclamation-triangle"></i> <span class="text-center">Se elimin贸 esta prenda</span>
        </div>
      <% else %>
        <%= render 'prenda', prenda: atuendo.cabeza %>
      <%end%>
    </div>
    <div class="col-md-3">
      <% if atuendo.torso.blank?  %>
        <div class="col-sm-12 container-empty">
          <i class="fa fa-exclamation-triangle"></i> <span class="text-center">Se elimin贸 esta prenda</span>
        </div>
      <% else %>
        <%= render 'prenda', prenda: atuendo.torso %>
      <%end%>
    </div>
    <div class="col-md-3">
      <% if atuendo.piernas.blank?  %>
        <div class="col-sm-12 container-empty">
          <i class="fa fa-exclamation-triangle"></i> <span class="text-center">Se elimin贸 esta prenda</span>
        </div>
      <% else %>
        <%= render 'prenda', prenda: atuendo.piernas %>
      <%end%>
    </div>
    <div class="col-md-3">
      <% if atuendo.pies.blank?  %>
        <div class="col-sm-12 container-empty">
          <i class="fa fa-exclamation-triangle"></i> <span class="text-center">Se elimin贸 esta prenda</span>
        </div>
      <% else %>
        <%= render 'prenda', prenda: atuendo.pies %>
      <%end%>
    </div>
  </div>
