<div class="card-wrapper container_prenda_atuendos">
  <div class="card">
    <div class="title title--epic"><%= prenda.prenda_tipo.tipo %></div>
    <h2><%= prenda.tela %></h2>
    <div class="desc">Color Primario: <%= prenda.color_primario %> <br>
      Color Secundario: <%= prenda.color_secundario %> <br>
      Guardarropa: <%= prenda.guardarropa.name %>
    </div>
    <div class="actions">
      <%= link_to "Edit", action: :edit, id: prenda.id %>
      <%= link_to "Show", action: :show, id: prenda.id %>
      <%= link_to "Destroy", prenda, method: :delete %>
      
    </div>
  </div>
</div>
<!--

      
      

      -->
