<div class="container_prenda_atuendos">
  <div class="card">
    <div class="title title--epic"><%= prenda.prenda_tipo.tipo %></div>
    <h5><%= prenda.tela %></h5>
    <div class="desc">Color Primario: <%= prenda.color_primario %> <br>
      Color Secundario: <%= prenda.color_secundario %> <br>
      Guardarropa: <%= prenda.guardarropa.name %>
    </div>
    <div class="actions">
      <%= link_to "", { :controller => :prendas, :action => :edit, id: prenda.id }, { class: "fa fa-pencil-square-o no-underline"} %>
      <%= link_to "", prenda, method: :delete, :class =>"fa fa-times no-underline" %>
    </div>
  </div>
</div>
