<section class="section-wrapper area">
  <div class="cont_principal">
    <div class="cont_breadcrumbs_1">
      <ul>
        <li><a href="/guardarropas">Guardarropas</a></li>
        <li><a>Atuendos</a></li>
      </ul>
    </div>
  </div>
  <div class="container pt-5">
    <div class=" margin-container">
      <div class="row center p-4">
        <h1>Atuendos</h1>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-around p-5">
          <%= form_tag('', {:method => 'get'}) do %>
            <%= label_tag :etiqueta_estacion, "Filtrar por:" %>
            <%= select_tag :etiqueta_estacion, options_for_select(Atuendo.etiqueta_estacions.keys.to_a, @estacion_selected), :onchange => "this.form.submit();", :prompt => 'Filtra por estación'%>
            <%= select_tag :etiqueta_tiempo, options_for_select(Atuendo.etiqueta_tiempos.keys.to_a, @tiempo_selected), :onchange => "this.form.submit();", :prompt => 'Filtra por tiempo'%>
            <%= select_tag :etiqueta_formalidad, options_for_select(Atuendo.etiqueta_formalidads.keys.to_a, @formalidad_selected), :onchange => "this.form.submit();", :prompt => 'Filtra por formalidad'%>
            <%= label_tag :orden_puntaje, "Ordenar puntaje:" %>
            <%= select_tag :orden_puntaje, options_for_select({ "Mayor a menor" => "desc", "Menor a mayor" => "asc" }, @order_puntaje), :onchange => "this.form.submit();", :prompt => 'Seleccione aqui'%>
          <% end %>
        </div>
      </div>
      <div>
        <% if @atuendos.blank?  %>
          <div class="col-sm-12 container-empty">
            <i class="fa fa-exclamation-triangle"></i> <span class="text-center">No hay atuendos</span>
          </div>
        <% else %>
          <% @atuendos.each do |p| %>
            <div class="container">
              <div class="row center pt-5 align-items-center mt-5">
                <h3 class="m-0 "> <%= p.nombre %> </h3>
                <div class="actions mx-5 ">
                  <%= link_to "", { :controller => :atuendos, :action => :edit, id: p.id }, { class: "fa fa-pencil-square-o no-underline"} %>
                  <%= link_to "", { :controller => :atuendos, :action => :show, id: p.id }, { class: "fa fa-eye no-underline"} %>
                  <%= link_to "", guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => p.id),class: "fa fa-times no-underline", method: :delete, data: { confirm: '¿Está seguro que desea borrar el atuendo?' } %>
                </div>
              </div>
            </div>
            <%= render 'atuendo', atuendo: p %>
          <%end%>
        <%end%>
        <%= will_paginate @atuendos, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 1, outer_window: 0 %>
      </div>
      <div>
        <a href="/guardarropas/<%= @guardarropa.id %>/atuendos/new" class="link-nueva-prenda">
          <i class="fa fa-plus"></i>
        </a>
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </section>
