<section class="section-wrapper area">
  <div class="container">
    <div class="row center p-5 ">
      <h3 class="mx-3"> <%= @atuendo.nombre %> </h3>
      <div class="actions">
        <%= link_to "", { :controller => :atuendos, :action => :edit, id: @atuendo.id }, { class: "fa fa-pencil-square-o no-underline"} %>
        <%= link_to "", guardarropa_atuendo_path(:guardarropa_id => params[:guardarropa_id],:id => @atuendo.id),class: "fa fa-times no-underline", method: :delete, data: { confirm: '¿Está seguro que desea borrar el atuendo?' } %>
      </div>
    </div>
    <% if(!@atuendo.descripcion.blank?) %>
      <article class="row">
        <div class="col-sm-12 atuendo-descripcion">
          <%= @atuendo.descripcion %>
        </div>
      </article>
    <% end %>
    <%= render 'atuendo', atuendo: @atuendo%>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
