<div>
    <% content_for :id do %>
       <p><%= prenda.id %></p>
    <% end %>  
    <br>
    <% content_for :tela do %>
        <p><%= prenda.tela %></p>
    <% end %>  
    <br>
    <% content_for :categoria do %>
     <p><%= prenda.categoria %></p>
    <% end %>  
    <br>
    <% content_for :tipo do %>
     <p><%= prenda.tipo %></p>
    <% end %>  
    <br>
    <% content_for :color_primario do %>
     <p> <%= prenda.color_primario %></p>
    <% end %>  
    <br>
    <% content_for :color_secundario do %>
        <p> <%= prenda.color_secundario %></p>
    <% end %>  
    <br>
</div>
