<div class="card-wrapper">
  <div class="card">
    <div class="title title--epic"><%= prenda.tipo %></div>
    <h2><%= prenda.tela %></h2>
    <div class="desc">Color Primario: <%= prenda.color_primario %> <br>
      Color Secundario: <%= prenda.color_secundario %>
    </div>
    <div class="actions">
      
      <%= link_to "Edit", action: :edit, id: prenda.id %>
      <%= link_to "Show", action: :show, id: prenda.id %>
      <%= link_to "Destroy", action: :destroy, id: prenda.id %>
      <%
=begin%>
 <button class="actions__like">editar &nbsp; <i class="fas fa-heart"></i> </button>
      <button class="actions__trade">mostrar &nbsp; <i class="fas fa-exchange-alt"></i> </button>
      <button class="actions__cancel">borrar &nbsp; <i class="fas fa-times"></i> </button> 
<%
=end%>
    </div>
  </div>
</div>
<!--

      
      

      -->
