<div class="card-wrapper">
  <div class="card">
    <div class="title title--epic"><%= prenda.prenda_tipo.tipo %></div>
    <h2><%= prenda.tela %></h2>
    <div class="desc">Color Primario: <%= prenda.color_primario %> <br>
      Color Secundario: <%= prenda.color_secundario %> <br>
      Guardarropa: <%= prenda.guardarropa.name %>
    </div>
    <div class="actions">
      <%= link_to "", { :controller => :prendas, :action => :edit, id: prenda.id }, { class: "fa fa-pencil-square-o"} %>
      <%= link_to "", { :controller => :prendas, :action => :show, id: prenda.id }, { class: "fa fa-eye"} %>
      <%= link_to "", prenda, method: :delete, :class =>"fa fa-times" %>
    </div>
  </div>
</div>
<!--

      
      

      -->
