<section class="row center margin-container">
  <div>
      <h2>Edicion de prenda</h2>
      <%= form_for @prenda, :url => { :action => "update", :id => @prenda.id }, :method => :put do |f| %>
        <p class="form-group">
          <%= f.label :prenda_tipo_id %>
          <%= f.collection_select :prenda_tipo_id, PrendaTipo.all, :id, :tipo, { :prompt => "Elija el tipo de Prenda" }, { :class => "form-control" } %>
        </p>
        <p class="form-group">
          <%= f.label :tela %>
          <%= f.select(:tela, options_for_select(Prenda.telas.keys.to_a), {required: true}, {:class => 'form-control'})%>
        </p>
        <p class="form-group">
          <%= f.label :color_primario %>
          <%= f.color_field :color_primario ,required: true, :class => 'form-control', :id => 'container_color_primario' %>
        </p>
        <p class="form-group">
          <%= f.label :color_secundario %>
          <%= f.color_field :color_secundario, required: true, :class => 'form-control',:id => 'container_color_secundario'%>
        </p>
        <p class="form-group">
          <%= f.label :guardarropa_id %>
          <%= f.collection_select :guardarropa_id, Guardarropa.all, :id, :name, { :prompt => "Elija un guardarropas" }, { :class => "form-control" } %>
          <!--  <%= f.select(:prenda_tipo, options_for_select(PrendaTipo.tipos.keys.to_a),required: true, :class => 'form-control')%> -->
        </p>
        <p class="container-btn-default">
          <%= f.submit :class=>'btn  btn-default' %>
        </p>
      <% end %>
    </div>
</section>
