

<section class="section-form">
  <div class="container-form">
    <div>
         <h2>Edicion de Prenda</h2>
        <%= form_for @prenda, :url => { :action => "update", :id => @prenda.id }, :method => :put do |f| %>
        <p>
            <%= f.label :categoria %><br>
            <%= f.number_field :categoria %>
        </p>
        
        <p>
            <%= f.label :tipo %><br>
            <%= f.number_field :tipo %>
        </p>
        
        <p>
            <%= f.label :tela %><br>
            <%= f.text_field :tela %>
        </p>

        <p>
            <%= f.label :color_primario %><br>
            <%= f.color_field :color_primario %>
        </p>

        <p>
            <%= f.label :color_secundario %><br>
            <%= f.color_field :color_secundario %>
        </p>
        <p>
            <%= f.submit %>
        </p>
        <% end %>
    </div>
   
  </div>
</section>
