
<section class="prendas-index">
<div class="prendas-view">
    <div class="link-nueva-prenda">
        <%= link_to "Crear nueva prenda", "/prendas/new" %>
    </div>
  <table class="prendas-tb">
    <thead>
        <tr>
            <th>Id</th>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Tela</th>
            <th>Color Primario</th>
            <th>Color Secundario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% @prendas.each do |p| %>
            <tr>
                <td><%= p.id %></td>
                <td><%= p.categoria %></td>
                <td><%= p.tipo %></td>
                <td><%= p.tela %></td>
                <td><%= p.color_primario %></td>
                <td><%= p.color_secundario %></td>
                <td><%= link_to "Edit", :action => :edit, :id => p.id %>
                <%= link_to "Show", :action => :show, :id => p.id %></td>
            </tr>
        <%end%>
    </tbody>
    
  </table>
</div>

</section>
<div>
    
</div>
