<section class="section-form">
  <div class="container-form">
    <div>
      <h2>Creación de Prenda</h2>
      <%= form_for @prenda, :url => { :action => "create" } do |f| %>
        <p class="form-group">
          <%= f.label :prenda_tipo %><br>
          <%= f.select(:prenda_tipo, options_for_select(Prenda.prenda_tipo.categoria.keys.to_a),required: true, :class => 'form-control')%>
        </p>
        <p class="form-group">
          <%= f.label :tipo %><br>
          <%= f.select(:tipo, options_for_select(Prenda.tipos.keys.to_a),required: true, :class => 'form-control')%>
        </p>
        <p class="form-group">
          <%= f.label :tela %><br>
          <%= f.select(:tela, options_for_select(Prenda.telas.keys.to_a),required: true, :class => 'form-control')%>
        </p>
        <p class="form-group">
          <%= f.label :color_primario %><br>
          <%= f.color_field :color_primario ,required: true, :class => 'form-control' %>
        </p>
        <p class="form-group">
          <%= f.label :color_secundario %><br>
          <%= f.color_field :color_secundario ,required: true, :class => 'form-control'%>
        </p>
        <p class="container-btn-default">
          <%= f.submit :class => 'btn btn-default'%>
        </p>
      <% end %>
    </div>
  </div>
</section>
